body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: 130px;
  grid-template-areas: 'a a b';
  background: #81ecec;
  height: 130px;
}

.app-title {
  grid-area: a;
  margin: 10px;
  font-size: revert;
  padding-top: 35px;
  padding-bottom: 35px;
  color: #2d3436;
  padding-left: 50px;
}

.btn-login {
  min-width: 120px;
  grid-area: b;
  margin: 10px 30px 10px 30px;
  position: relative;
  top: 30%;
  color: #2d3436;
  background: #00cec9;
  border-color: #00cec9;
  line-height: 1.5715;
  position: relative;
  display: block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  height: 35px;
  padding: 4px 30px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #2d3436;
  font-family: 'Montserrat', sans-serif;
}

.container {
  text-align: center;
}

.search-input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 30%;
  background: #dfe6e9;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
}

.text-centered {
  padding: 10px;
  font-size: 17px;
  margin: 50px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
