body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background: #81ecec;
  width: 100%;
}

.app-title {
  display: inline-block;
  margin: 10px;
  padding: 35px;
  color: #2d3436;
  width: 85%;
}

.btn-login {
  width: 120px;
  justify-items: right;
  margin: 10px 30px 10px 30px;
  color: #2d3436;
  background: #00cec9;
  border-color: #00cec9;
  line-height: 1.5715;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  height: 35px;
  padding: 4px 30px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #2d3436;
  font-family: 'Montserrat', sans-serif;
}

.text-centered {
  text-align: center;
  padding: 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  margin: 50px;
}

.search-input {
  width: 40%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #dfe6e9;
  font-family: 'Montserrat', sans-serif;
}

.btn-group {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.btn-filter {
  width: 120px;
  margin-right: 50px;
  top: 30%;
  color: #2d3436;
  border-color: #00cec9;
  line-height: 1.5715;
  position: relative;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  height: 35px;
  padding: 4px 30px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #2d3436;
  font-family: 'Montserrat', sans-serif;
}

.list-view {
  width: 100%;
  height: 100%;
  height: 10px;
  margin: 20px;
}

.card-bordered {
  border: 1px solid #f0f0f0;
  margin: 10px;
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
}

.info {
  margin: 10px;
}

.title-list {
  width: 100%;
}

.word {
  margin: 10px;
}

.footer {
}
